@import url("https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap");

.home_page .title h1 {
  font-family: "Annie Use Your Telescope";
  font-size: 5vw;
  margin-top: 6vw;
  color: black;
  margin-left: 2vw;
  margin-bottom: 2vw;
}

.home_page .content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
