.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 27vw;
  height: 75vh;
  border-radius: 10px;
  box-shadow: 3px 3px #a3586d;
  margin-bottom: 4vw;
}

.post-item h2 {
  color: #00c2cb;
  font-size: 2rem;
  margin-bottom: 1vw;
  font-family: "Annie Use Your Telescope";
}

.post-item p {
  margin-top: 1vw;
  margin-bottom: 3vw;
  color: #00c2cb;
  font-family: "Annie Use Your Telescope";
  margin-left: 1vw;
}

.post-item:hover {
  transform: scale(1.1);
}
