.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 1vw;
  gap: 10px;
}

.posts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 3vw;
}

.post-image {
  width: 20vw;
  height: 30vh;
  border-radius: 10px;
}

.button_post {
  opacity: 0.9;
  border-radius: 20px;
  border: none;
  border: 1px solid #a3586d;
  width: 15vw;
  height: 5vh;
  font-size: 1.4rem;
  margin: 0 20px 0 5px;
  font-family: "Annie Use Your Telescope";
  background-color: #ffffff;
  color: #00c2cb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5vw;
}

.button_post_supprimer {
  opacity: 0.9;
  border-radius: 20px;
  border: none;
  border: 1px solid #a3586d;
  width: 15vw;
  height: 5vh;
  font-size: 1.4rem;
  margin: 0 20px 0 5px;
  font-family: "Annie Use Your Telescope";
  background-color: #ffffff;
  color: #00c2cb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
  margin-bottom: 2vw;
}

.button_post_modifier {
  opacity: 0.9;
  border-radius: 20px;
  border: none;
  border: 1px solid #a3586d;
  width: 15vw;
  height: 5vh;
  font-size: 1.4rem;
  margin: 0 20px 0 5px;
  font-family: "Annie Use Your Telescope";
  background-color: #ffffff;
  color: #00c2cb;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3vw;
}
