.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 10vw;
  gap: 50px;
}

.posts-list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}

.post-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 30vw;
  height: 40vh;
  border-radius: 10px;
  box-shadow: 5px 5px #ffd700;
}

.post-item .boulette {
  width: 20px;
  cursor: pointer;
}
